/* ***********
the public css starts here
**************** */

body {
    font: normal 100% Helvetica, Arial, sans-serif;
    background: #F3EFE8;
    margin: 0;
 
}

#banner {
	height: 20px;
	width: 100%;
	background: #FDA033;
}

#container {
	max-width: 1024px;
	margin: 0 auto;
	background: white;

}

footer{
	background: #FDA033;
	width: 100%;
	text-align:center;
}	

footer p{
	margin-top: 15px;
	font-size: 14px;
	color:white; 


}

#footer_contact{
    margin-left: auto;
    margin-right: auto;
    
}

#footer_contact div{
    margin-left: 20px;
    
}

footer #footer_copyright{

    margin-top: 10px;
    margin-bottom: 15px;
    text-align:center;
    font-size: 0.8em;
}


#logo{
 	position: absolute;
 	height: 117px;
 	width:117px;
 	padding-top:10px;
 	opacity:0.8;
}

#nav {
	height: 80px;
	background: #F3EFE8;
/* 	padding-left: 24%; */
	padding-left:200px;
	padding-top: 20px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#nav .navblock { 
	display: block;
	float: left;
	color: #FDA033;
	text-decoration: none;
	padding: 20px 3% 0 2%;
	line-height: 40px;
	
}

#nav #shoppingcart{
		margin-left: 2px;
	}


#nav .navicon{
    width: 20px;
    height:20px;

}

#nav .navlink:hover{
 	background-color:#F5CB8F; 
 	color: white;
 	text-decoration:none;
 	

}

#nav .navlink {
	-webkit-transition: all 1s;
	
}


#content{
	padding-top: 50px;
	border-top: 2px solid #FDA033;
	max-width:1024px;
    min-width: 320px;
}

h4{
 	font-family: Helvetica, san-serif;
    font-size: 1.2em;  
    background-color:#FDA033;
    width: 30px;
	padding: 10px;
    color: white;
    margin-bottom: 0px;
	margin-top: 0px;
	float:right;
}
form{
float:right;
}
#nearby{
width: 150px;
}
#date{
width: 100px;
}
.grid{
	display:inline-block;
	float:left;
	position:relative;
	padding:0 5%;
}

.cols{	
	margin-bottom:1.5em;
	overflow:hidden;
	}
	
.col{
	float:left;
	display:inline;	
/* 	margin-right: 4%;  */
			}	
.cols .first, .col:first-child{margin-left:none;}			
.col{width:49%;}

#planner {
width: 26%;
padding: 10px 20px 14px 20px;
margin-top: 2.5%;
background: #FFFFFF;
border: 2px solid #FDA033;
margin-bottom: 5%;

}

#rss{
width: 20.5%;
padding: 20px 20px 20px 20px;
height: 400px;
background: #FFFFFF;
border: 2px solid #FDA033;
}
.right{
float: right;
margin-right: 50px;
}
.body2{
border-top: 2px dotted #FDA033;
}
.header2{
    font-size: 1.0em;
    padding-top:20px;
    text-transform: uppercase;
    color:#FDA033;
}
.header3{
    font-size: 1.0em;
    padding-top:10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color:#FDA033;
	border-bottom: 2px solid #FDA033;
}
.desc2{
margin-bottom: 10%;
font-size: 0.8em;
}
.title{
    font-family: acta-display, Georgia, serif;
    font-size: 1.2em;
    color: #666666;   
}
.packplanner{

}
.image{
border: 2px solid #FDA033;

}

.image2{
padding: 20px 0 20px 30px;
width: 55%;
margin-bottom: 3%;

}
.image3{
padding: 15px 20px 20px 0px;
width: 250px;
margin-bottom: 5%;
}

img{
width: 100%;

}
#imgdesc{
position: absolute;
top: 430px;
width:40%;
height:13%;
background-color:#FDA033;
color: #ffffff;
opacity:0.6;
filter:alpha(opacity=60);
}
#imgdesc2{
position: absolute;
top: -10px;
width:100%;
height:13%;
color: #ffffff;
}
#imgdesc2 h2{
padding: 20px 20px 0px 40px;
}
#imgdesc2 p{
padding: 0px 20px 0px 60px;
font-size: 12px;

}

#about{
padding: 20px 20px 20px 20px;
background: #FFFFFF;
border: 2px solid #FDA033;
width: 61%;
height: 50%;
}


#about2{
padding: 20px 20px 20px 20px;
margin-left: 7%;
margin-bottom: 2%;
background: #F2E491;
width: 80%;
height: 50%;
}
#items{
padding: 20px 20px 20px 20px;
margin-left: 7%;
background: #FFFFFF;
border-top: 3px solid #FDA033;
width: 80%;
height: 50%;
}
#items2{
padding: 0 0 20px 20px;
background: #FFFFFF;
width: 100%;

}
.header{
font-family: Georgia;
text-decoration: none;
color: black;
margin-left: 2%;
font-size: 1.25em;
margin-left: 10%;
padding-bottom: 1%;
}
.headerdesc{
font-family: Georgia;
margin: 0 0 0 0;
}
.desctitle{
text-decoration: none;
color: black;
font-size: 1.25em;
}
.desc{
margin-bottom: 8%;
font-size: .7em;
}

.footerlinks{
color: white;
text-decoration: none;
}




/* The media queries*/
/*desktop*/
@media screen and (max-width: 1024px){

	#logo{
	padding-left: 5%;
	width: 95px;
	height: 95px;
	
	}
	
	#nav {
		padding-left: 17%;
		font-size: 12px;
	}
	.grid{
		float:left;
        width:40%;
	    padding:0 5%;
	}
}


@media screen and (max-width: 742px){
	
	#nav {
		padding-left: 25%;
	/* 	font-size: 1.1em; */
	}
	
	#nav #searchbox{
		display: none;
	}
	.grid{
		float:left;
        width:40%;
	    padding:0 5%;
    }
    
}



/*mobile*/

@media only screen and (max-width:600px){
 	.grid{
		float:left;
		width: 100%;
		width:86%;
		padding: 7%;

		}
		
	#banner{
		height:10px;
	}
	
    #nav .navlink{
    	display: none;
    }
    
    #nav #search{
    	margin-left: 75%;
    	
    }
    
    #content{
    	padding:0;
    }
	
 
}




		
	