/* ***********
the public css starts here
**************** */

body {
    font: normal 100% Arial Helvetica, sans-serif;
    background: #F3EFE8;
    margin: 0;
 
}

#banner {
	height: 20px;
	width: 100%;
	background: #FDA033;
}

#container {
	max-width: 1024px;
	margin: 0 auto;
	background: white;

}

footer{
	background: #FDA033;
	width: 100%;
	text-align:center;
}	

footer p{
	margin-top: 15px;
	font-size: 14px;
	color:white; 


}

#footer_contact{
    margin-left: auto;
    margin-right: auto;
    
}

#footer_contact div{
    margin-left: 20px;
    
}

footer #footer_copyright{

    margin-top: 10px;
    margin-bottom: 15px;
    text-align:center;
    font-size: 0.8em;
}


#logo{
 	position: absolute;
 	height: 117px;
 	width:117px;
 	padding-top:10px;
 	opacity:0.8;
}

#nav {
	height: 80px;
	background: #F3EFE8;
/* 	padding-left: 24%; */
	padding-left:200px;
	padding-top: 20px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#nav .navblock { 
	display: block;
	float: left;
	color: #FDA033;
	text-decoration: none;
	padding: 20px 3% 0 2%;
	line-height: 40px;
	
}

#nav #shoppingcart{
		margin-left: 2px;
	}


#nav .navicon{
    width: 20px;
    height:20px;

}

#nav .navlink:hover{
 	background-color:#F5CB8F; 
 	color: white;
 	text-decoration:none;
 	

}

#nav .navlink {
	-webkit-transition: all 1s;
	
}


#content{
	padding-top: 50px;
	border-top: 2px solid #FDA033;
	max-width:1024px;
    min-width: 320px;
}


.grid{
	display:inline-block;
	float:left;
	position:relative;
	width:40%;
	padding:0 5%;
}



/* The media queries*/
/*desktop*/
@media screen and (max-width: 1024px){

	#logo{
	padding-left: 5%;
	width: 95px;
	height: 95px;
	
	}
	
	#nav {
		padding-left: 17%;
		font-size: 12px;
	}
	.grid{
		float:left;
        width:40%;
	    padding:0 5%;
	}
}


@media screen and (max-width: 742px){
	
	#nav {
		padding-left: 25%;
	/* 	font-size: 1.1em; */
	}
	
	#nav #searchbox{
		display: none;
	}
	.grid{
		float:left;
        width:40%;
	    padding:0 5%;
    }
    
}



/*mobile*/

@media only screen and (max-width:600px){
 	.grid{
		float:left;
		width: 100%;
		width:86%;
		padding: 7%;

		}
		
	#banner{
		height:10px;
	}
	
    #nav .navlink{
    	display: none;
    }
    
    #nav #search{
    	margin-left: 75%;
    	
    }
    
    #content{
    	padding:0;
    }
	
 
}

/* *************************************
the private css starts here
************************************* */

h1 {
    font-family: acta-display, Georgia, serif;
    font-size: 1.3em;
    color: #666666;   
    margin:0;    
}

h2 {
 	font-family: Georgia, serif;
    font-size: 1.0em;  
    color: grey;
}

h3 {
    font-size: 1.0em;
    padding-top:20px;
    text-transform: uppercase;
    font-style: italic;
    color:#66C0B8;
    
}

#detail{
	font-size: 0.95em;
	color:#404040;
}

#interact{
	padding-top: 10px;
}

#buy_button{
	float:right;
    background: #F4E3CE;
	border-color: #F9B96B;
	color: #CE700B;
	/* display: block; */
    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 10px;
	font: 15px Helvetica, san-serif;
	font-weight:900;
	letter-spacing: 1px;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
}

#buy_button:hover{
	background: #F5CB8F;
	cursor:pointer;
}



p {
	color: grey;

}

ul {
    font-size: 0.875em;
    list-style-type:none;
    padding:0;  
    margin:0;
}

li img{
	float:left;
	margin:0 15px 0 0;
}

li{
	padding: 10px;
	overflow:auto;
	border-bottom: 1px dotted #FDA033;
}

li:hover{
	background: #F3EFE8;
	cursor:pointer;
}


#textarea{
	border:1px solid #FDA033;
	width: 100%;
	height:60px;

	margin:10px;
}

#submit{
    
    text-transform: uppercase;
	letter-spacing: 1px;
	float: right;
	width:25%;
	height:30px;
    border: 4 solid #F3EFE8;
    background: #F5CB8F;
    font-size:0.8em;
    margin-bottom:30px;
    color:light grey;
}

#submit:hover{
	background: #F5CB8F;
	cursor:pointer;
	color: white;
}








		
	